<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
    
    
    <context-param>
        <description>The UPNP port to open</description>
        <param-name>upnp.port</param-name>
        <param-value>8084</param-value>
    </context-param>
    <context-param>
        <description>Whether a UPNP port should be opened on an internet gateway device</description>
        <param-name>upnp.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>com.soashable.web.listener.UPnpListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Jabber HTTP Binding Servlet</servlet-name>
        <servlet-class>org.jabber.JabberHTTPBind.JHBServlet</servlet-class>
    </servlet>
    
    <!--
    <servlet>
        <servlet-name>Jabber HTTP Binding Servlet</servlet-name>
        <servlet-class>org.jivesoftware.multiplexer.net.http.EmbeddedHttpBindServlet</servlet-class>
    </servlet>
    -->

    <servlet>
        <description>Gets / Registers TokBox accounts</description>
        <servlet-name>TokBox Account</servlet-name>
        <servlet-class>com.devspan.tokbox.TokBoxServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Soashable Blog Servlet</description>
        <servlet-name>Soashable Blog</servlet-name>
        <servlet-class>com.soashable.web.servlet.SoashableBlogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jabber HTTP Binding Servlet</servlet-name>
        <url-pattern>/http-bind/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>TokBox Account</servlet-name>
        <url-pattern>/app/tokbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soashable Blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
