.receivedMessage {
	display: block;
	background: url(../../javascripts/xmpp4js/deps/ext/resources/images/aero/sort_asc.gif) #8db2e3;
	color: #ffffff;
	font: small tahoma,arial,helvetica;
}

.sentMessage {
	display: block;
	background: url(../../javascripts/xmpp4js/deps/ext/resources/images/aero/sort_desc.gif) #c7dffc;
	color: #000000;
	font: small tahoma,arial,helvetica;
}