<div class="imWindow">
	<div class="mainToolbar">
		<div class="context-toolbar">
			<button class="icon addBuddyButton">Add Buddy</button>
			<button class="icon infoButton">Info</button>
			<button class="icon logsButton">Logs</button>
			<button class="icon chatButton">Chat</button>
		</div>
	</div>
	<div class="conversation">
		<div class="output">
			<div class="chatOutput"></div>
		</div>
		<div class="chatToolbar">
			<div class="font-toolbar">
				<button class="icon">B</button>
				<button class="icon">I</button>
				<button class="icon">U</button>
				<button class="icon">C</button>
				<button class="icon">:)</button>
				<div class="icon dropdown">
					<select name="font-face" size="1"><option>Arial</option></select>
				</div>
				<div class="icon dropdown">
					<select name="font-size" size="1"><option>10</option></select>
				</div>
			</div>
			
		</div>
		
		<div class="input">
			<textarea class="chatInput"></textarea>
			<button class="sendButton">Send</button>
		</div>
	</div>

	<div class="status">Status</div>
</div>
