<div class="login">
		<div id="loginForm">
			<table>
				<tr>
					<td colspan="2">
						<h2>Soashable</h2>
					</td>
				</tr>
				<tr>
					<td>
						<label for="login_jabber">Soashable ID</label>
					</td>
					<td>
						<input type="text" class="login_jabber" id="login_jabber"/>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password_jabber">Password</label>
					</td>
					<td>
						<input type="password" class="password_jabber" id="password_jabber"/>
					</td>
				</tr>
			</table>
			<input type="button" class="loginButton" value="Login" />
			<input type="button" class="registerButton" value="Register" />
		</form>
</div>