<div class="pissingmeoff" style="text-align: center">
    <img src="images/pissingmeoff.png" style="width: 301px" alt="pissing{me}off"/>
    
    <form action="http://pissingmeoff.com/create" method="post" target="pissingmeoff">
        <table border="0">
            <tr>
                <td>
                    <label for="about">Why are you pissed?</label>
                </td>
                <td>
                    <textarea id="about" name="item[name]" rows="6" cols="40"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">FUCK IT</button></td>
            </tr>
        </table>
    </form>
</div>