<style type="text/css">
	@import(../style/soashable.css);
</style>
<dl class="form">
	<dt>
		<label for="network">Network</label>
	</dt>
	<dd>
		<select id="network" class="network">
			<option value="aim.im.cosmacs.org">AOL Instant Messenger</option>
		</select>
	</dd>
	
	<dt>
		<label for="login">Login</label>
	</dt>
	<dd>
		<input type="text" id="login" class="login"/>
	</dd>
	
	<dd>
		<h2>Static</h2>
	</dd>
	
	<dt>
		<label for="password">Password</label>
	</dt>
	<dd>
		<input type="password" id="password" class="password"/>
	</dd>
	
	<dt>
		<label for="comments">Comments</label>
	</dt>
	<dd>
		<textarea id="comments" class="comments"></textarea>
	</dd>
</dl>